:root{
    --primary-color:#7b2cbf;
    --bg-color:#edf2fb;
    --text-light:#ffffff;
    --card-bg:#ffffff;
    --disabled:#c0c0c0;
}

/* BODY */
body{
    margin:0;
    padding:0;
    font-family:'Inter',sans-serif;
    background:var(--bg-color);
    text-align:center;
}

/* HEADER */
header{
    background:var(--primary-color);
    color:var(--text-light);
    padding:20px;
}

/* CARD */
.card{
    background:var(--card-bg);
    margin:30px auto;
    padding:20px;
    width:80%;
    border-radius:8px;
}

/* LIST */
ul{
    list-style:none;
}

/* COMMON BUTTON */
.btn{
    padding:10px 18px;
    border-radius:6px;
    font-size:14px;
    margin:5px;
    transition:0.3s;
}

/* PRIMARY */
.btn-primary{
    background:var(--primary-color);
    color:var(--text-light);
    border:none;
    cursor:pointer;
}

/* OUTLINE */
.btn-outline{
    background:transparent;
    border:2px solid var(--primary-color);
    color:var(--primary-color);
    cursor:pointer;
}

/* HOVER */
.btn:hover{
    transform:scale(1.08);
}

/* ACTIVE */
.btn:active{
    transform:scale(0.90);
}

/* DISABLED */
.btn:disabled{
    background:var(--disabled);
    border:none;
    cursor:not-allowed;
    color:white;
}

/* FOOTER */
footer{
    margin-top:40px;
}






/* NAVBAR DAY 3 */

/* ===== NAVBAR PROFESSIONAL ===== */

.navbar{
    display:flex;
    align-items:center;
    justify-content:space-between;
    padding:15px 50px;
    background:var(--primary-color);
}

/* LEFT */
.nav-left .logo{
    color:white;
    font-weight:600;
}

/* CENTER */
.nav-center{
    display:flex;
    list-style:none;
    gap:30px;
}

.nav-center a{
    text-decoration:none;
    color:white;
    font-weight:500;
    position:relative;
}

/* Hover Underline Animation */
.nav-center a::after{
    content:'';
    position:absolute;
    width:0%;
    height:2px;
    left:0;
    bottom:-4px;
    background:white;
    transition:0.3s;
}

.nav-center a:hover::after{
    width:100%;
}

/* Active Link */
.nav-center .active::after{
    width:100%;
}

/* RIGHT */
.nav-right{
    display:flex;
}

/* Hire Button Position */
.nav-btn{
    padding:8px 20px;
}
